.hero-btn, 
.btn--1,
.btn--2,
.btn--form {
    background: linear-gradient(45deg, var(--col3), var(--col4));
    color: var(--col2);
    padding: 10px 21px;
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 400;
}

.hero-btn:hover {
    background-color: var(--col1);
    color: var(--col2);
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn--1,
.btn--2,
.btn--form {
    display: flex;
    flex-direction: row;
    padding: 8px 18px;
    width: max-content;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn--1:hover,
.btn--2:hover {
    background-color: var(--col1);
    color: var(--col2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    transition: 0.35s;
}

.btn--2 {
    font-size: 16px;
    padding: 8px 12px;
}

.btn-naa,
.btn-naa:hover {
    background-color: var(--col2);
    color: var(--col1);
    letter-spacing: 0px;
    font-weight: 500;
    transition: 0.35s;
}

.btn-naa:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.7);
}


.btn--form {
    border: solid 2px var(--col1);
}

.btn--form:hover {
    border: solid 2px var(--col1);
    background-color: transparent;
    color: var(--col1);
    font-weight: 500;
}


/* Lazy Loading Effects */

.hero-btn,
.btn--1,
.form-sub,
.btn--form {
    opacity: 0;
    transform: translateX(25px); 
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.hero-btn.visible,
.btn--1.visible,
.form-sub.visible,
.btn--form.visible {
    opacity: 1;
    transform: translateX(0);
}